:root {
  --panel-bg-color: #dfe4ea;
  --container-bg-color: #f1f2f6;
  --text-color: #2f3542;
}

:root[theme='dark'] {
  --panel-bg-color: #2f3542;
  --container-bg-color: #57606f;
  --text-color: #ced6e0;
}


.page {
  margin: 0;
}

.container {
  width: 1280px;
  margin: auto;
}

.page__header {
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 48px;
}

.header__logo {
  display: flex;
  padding: 63px 0 38px;
}

.header__logo,
.header__logo-color {
  font-family: "Roboto";
  font-size: 80px;
  line-height: 94px;
  color: #4BCAFF;
}

.header__logo-color {
  color: #000;
}

.page__header-navi {
  background-color: #35444F;
}

.page__header-navi-links {
  display: flex;
  align-items: center;
  width: 988px;
  margin: 0 auto;
  padding: 0;
}

.links {
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  justify-content: center;
  padding: 26px 0 19px;
  position: relative;
}

.links:hover {
  background: #222F3A;
  transition: 0.2s;
}

.links:first-child {
  border-left: 1px solid white;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
}

.links-1 {
  flex-grow: 2;
}

.links-2 {
  flex-grow: 1;
}

.links-3 {
  flex-grow: 2;
}

.links-4 {
  flex-grow: 2;
}

.main__section {
  display: flex;
  justify-content: space-between;
}

.main__section-side {
  border: 1px solid #495863;
  width: 345px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main__section-center {
  width: 885px;
}

.main__section-side-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.side-item {
  font-family: "Roboto";
  font-size: 27px;
  line-height: 27px;
  padding: 25px 42px;
  transition: all 0.5s ease-out;
  position: relative;
}

.side-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 77px;
  background: #DBDBDB;
  transition: all 0.5s ease-out;
}

.side-item:hover .side-link {
  transform: translateX(20px);
  color: #000;
  display: block;
  transition: all 0.5s ease-out;
}

.side-item:hover::before {
  width: 100%;
}

.side-link {
  color: #495863;
  display: block;
  transition: all 0.5s ease-out;
}

.main__section-center-img {
  border: 1px solid black;
  display: flex;
  margin-bottom: 37px;
  padding: 75px 0;
}

.center-img {
  margin: auto;
  transition: 0.2s ease-out;
}

.center-img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-out;
}

.center-text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
}

.center-text:last-child {
  margin-bottom: 34px;
}

.center-text:last-child {
  margin-bottom: 54px;
}

.footer__formainpage {
  padding-bottom: 30px;
}

.footer__nav {
  display: flex;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  justify-content: space-between;
  margin: 0;
  padding: 0 40px;
}

.footer-list {
  flex-grow: 1;
  padding: 20px 0;
}

.footer-list:last-child {
  flex-grow: 2;
  display: flex;
  justify-content: end;
}

.footer-link {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
  display: inline-block;
  position: relative;
  transition: transform 0.25s ease-out;
}

.footer-link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -15px;
  border-bottom: 2px solid #3181A6;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footer-link:hover {
  color: #3181A6;
  transition: transform 0.25s ease-out;
  transform: translateY(-10px);
}

.footer-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  bottom: -15px;
}

.btn-toggle {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
}

.btn-toggle:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

body.dark-theme {
  color: #eee;
  background: #121212;
}